<div *ngIf="messages.success || messages.error || messages.warning"
     [ngClass]="{   'g-message': messages.success || messages.error || messages.warning,
                    'g-message__success': messages.success,
                    'g-message__error': messages.error,
                    'g-message__warning': messages.warning}">
  <div class="g-message__block" *ngIf="messages.success">
    <i class="material-icons">done</i>
    <p>Successfully</p>
  </div>
  <div class="g-message__block" *ngIf="messages.error">
    <i class="material-icons">error_outline</i>
    <p>Something wrong</p>
  </div>
  <div class="g-message__block" *ngIf="messages.warning">
    <i class="material-icons">warning</i>
    <p>Warning</p>
  </div>
</div>

<div class="todo__section-header">
  <button mat-button color="primary" (click)="createNew = !createNew">Create new todo</button>
  <button mat-button color="warn" (click)="logOut()">Logout</button>
</div>
  <div class="todo__section-create">
    <app-create-todo *ngIf="createNew"
                     (newCreate)="create($event)">
    </app-create-todo>
  </div>

  <div class="todo__section-list">
    <div class="accordion__header">
      <p class="accordion__title">name</p>
      <p class="accordion__title">created</p>
      <p class="accordion__title">edited</p>
      <p class="accordion__title">buttons</p>
    </div>
    <app-list-todo *ngFor="let todo of listToDo; trackBy:trackByFunction"
                   [todo]="todo"
                   (deleteUp)="deleteToDo($event)"
    ></app-list-todo>
  </div>
<div class="todo__section-item">
  <app-todo-detail
    (updateToDo)="updateToDo($event)"
    (removeToDo)="deleteToDo($event)"
  ></app-todo-detail>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>



