<app-notifications *ngIf="messages.success || messages.error || messages.warning" [message]="messages"></app-notifications>

<div class="todo__section-header">
  <button mat-raised-button color="primary" (click)="createNew = !createNew">Create new todo</button>
  <button mat-raised-button color="warn" (click)="logOut()">Logout</button>
</div>
<div class="todo__section-create">
  <app-create-todo *ngIf="createNew"
                   (newCreate)="create($event)">
  </app-create-todo>
</div>

<div class="todo__section-list">
  <div class="todo__accordion-header">
    <p class="todo__accordion-title">name</p>
    <p class="todo__accordion-title">created</p>
    <p class="todo__accordion-title">edited</p>
    <p class="todo__accordion-title">buttons</p>
  </div>
  <app-list-todo *ngFor="let todo of listToDo; trackBy:trackByFunction"
                 [todo]="todo"
                 (deleteUp)="deleteToDo($event)"
  ></app-list-todo>
</div>



