<div *ngIf="messages.success || messages.error || messages.warning"
     [ngClass]="{   'g-message': messages.success || messages.error || messages.warning,
                    'g-message__success': messages.success,
                    'g-message__error': messages.error,
                    'g-message__warning': messages.warning}">
  <div class="g-message__block" *ngIf="messages.success">
    <i class="material-icons">done</i>
    <p>Successfully</p>
  </div>
  <div class="g-message__block" *ngIf="messages.error">
    <i class="material-icons">error_outline</i>
    <p>Something wrong</p>
  </div>
  <div class="g-message__block" *ngIf="messages.warning">
    <i class="material-icons">warning</i>
    <p>Warning</p>
  </div>
</div>

<div class="position" *ngIf="edit else formForEditingToDo">
  <button mat-raised-button color="primary" class="g-btn" (click)="edit = !edit">Edit</button>
  <app-todo-detail
    [todo]="todo"
    (removeToDo)='deleteToDo($event)'
  ></app-todo-detail>
</div>

<ng-template #formForEditingToDo>
  <div class="position">
    <button mat-raised-button color="warn" class="g-btn" type="button" (click)="edit = !edit">Canсel</button>
    <app-todo-edit [todo]="todo" (updateToDo)='update($event)'></app-todo-edit>
  </div>
</ng-template>
