<app-notifications *ngIf="messages.success || messages.error || messages.warning" [message]="messages"></app-notifications>

<div class="position" *ngIf="edit else formForEditingToDo">
  <button mat-raised-button color="primary" class="g-btn" (click)="edit = !edit">Edit</button>
  <app-todo-detail
    class="children"
    [todo]="todo"
    (removeToDo)='deleteToDo($event)'
  ></app-todo-detail>
</div>

<ng-template #formForEditingToDo>
  <div class="position">
    <button mat-raised-button color="warn" class="g-btn" type="button" (click)="edit = !edit">Canсel</button>
    <app-todo-edit
      class="children"
      [todo]="todo"
      (updateToDo)='update($event)'>
    </app-todo-edit>
  </div>
</ng-template>
