@font-face {
  font-family: Inter;
  src: url(assets/fonts/inter/Inter-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/inter/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/inter/Inter-Regular.ttf);
  font-weight: 400;
}


