<div class="create-todo">
  <form class="form" [formGroup]="myForm" (ngSubmit)="$event.preventDefault(); create()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input required matInput placeholder="" formControlName="name" name="name">
      <mat-error *ngIf="isControlInvalid('name')">name required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input required matInput placeholder="" formControlName="description" name="description">
      <mat-error *ngIf="isControlInvalid('description')">description required</mat-error>
    </mat-form-field>
    <button [disabled]="!myForm.valid" mat-raised-button color="primary" class="g-btn" type="submit">Create</button>
  </form>
</div>
