<div class="list-container__item">
  <div *ngIf="edit else formForEditingToDo">
    <p>{{todo.name}}</p>
    <p>{{todo.createdAt}}</p>
    <p>{{todo.editedAt}}</p>
    <p>{{todo.description}}</p>
    <div class="list-container__buttons">
      <button [disabled]="" class="g-btn" (click)="edit = !edit">Edit</button>
      <button [disabled]="" class="g-btn" (click)="deleteToDo(todo.id)">Delete</button>
      <button [disabled]="" class="g-btn" (click)="back()">Back</button>
    </div>
  </div>

  <ng-template #formForEditingToDo>
    <form action="" (ngSubmit)="$event.preventDefault(); saveUpdate(todo)">
      <div class="form-group">
        <input type="text" [(ngModel)]="todo.name" [value]="todo.name" name='position'
               placeholder="">
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="todo.description" [value]="todo.description" name='description'
               placeholder="">
      </div>
      <div class="buttons-group">
        <button class="g-btn" type="submit">Save</button>
        <button class="g-btn" type="button" (click)="cancel()">Canсel</button>
      </div>
    </form>
  </ng-template>
</div>
